absl-py
astor
backcall
decorator
gast
google-pasta
grpcio
h5py
ipython
ipython-genutils
jedi
Keras
Keras-Applications
Keras-Preprocessing
Markdown
numpy
opencv-python
parso
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
PyAudio
Pygments
python-speech-features
PyYAML
scikit-learn
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
traitlets
Wave
wcwidth
Werkzeug
wrapt
certifi
chardet
click
cmake
dlib
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
Pillow
proglog
requests
tqdm
urllib3
wincertstore
